USE [master]
GO
/****** Object:  Database [WebAPI_DataContext-608e4783-82c9-4bfa-a9e8-67c0c5e73f1a]    Script Date: 23/11/2020 9:14:36 am ******/
CREATE DATABASE [WebAPI_DataContext-608e4783-82c9-4bfa-a9e8-67c0c5e73f1a]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WebAPI_DataContext-608e4783-82c9-4bfa-a9e8-67c0c5e73f1a', FILENAME = N'C:\Users\lukeg\WebAPI_DataContext-608e4783-82c9-4bfa-a9e8-67c0c5e73f1a.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WebAPI_DataContext-608e4783-82c9-4bfa-a9e8-67c0c5e73f1a_log', FILENAME = N'C:\Users\lukeg\WebAPI_DataContext-608e4783-82c9-4bfa-a9e8-67c0c5e73f1a_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WebAPI_DataContext-608e4783-82c9-4bfa-a9e8-67c0c5e73f1a].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WebAPI_DataContext-608e4783-82c9-4bfa-a9e8-67c0c5e73f1a]
GO
USE [WebAPI_DataContext-608e4783-82c9-4bfa-a9e8-67c0c5e73f1a]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 23/11/2020 9:14:36 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehicle]    Script Date: 23/11/2020 9:14:36 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicle](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Reg] [nvarchar](max) NULL,
	[Make] [nvarchar](max) NULL,
	[Model] [nvarchar](max) NULL,
	[Colour] [nvarchar](max) NULL,
	[Year] [int] NULL,
 CONSTRAINT [PK_Vehicle] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20201021102203_InitalVehicle', N'3.1.9')
GO
SET IDENTITY_INSERT [dbo].[Vehicle] ON 

INSERT [dbo].[Vehicle] ([Id], [Reg], [Make], [Model], [Colour], [Year]) VALUES (3, N'LPN791', N'Mazda', N'Rx8', N'Black', 2003)
INSERT [dbo].[Vehicle] ([Id], [Reg], [Make], [Model], [Colour], [Year]) VALUES (11, N'EJS784', N'Audi', N'A4', N'Blue', 1998)
INSERT [dbo].[Vehicle] ([Id], [Reg], [Make], [Model], [Colour], [Year]) VALUES (15, N'Mewwwo', N'Tesla', N'3', N'White', 2019)
SET IDENTITY_INSERT [dbo].[Vehicle] OFF
GO
USE [master]
GO
